* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  background: white;
  line-height: 1.3125;
  cursor: pointer;
}
button {
  width: 100%;
  padding: 0.2rem 0;
  border: none;
  border-radius: 4rem;
  background: rgba(29, 161, 242, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
#page {
  display: grid;
  grid-template-columns: 10fr 22fr 13fr;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 0 15%;
  background: white;
}
svg.basic {
  width: 28px;
}
input {
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

#left,
#right {
  height: 100vh;
}

.profile_img:hover {
  opacity: 0.7;
}
a {
  outline: 0;
}
/*global style up##########################################################*/

div#left {
  display: grid;
  grid-template-rows: auto;
  padding: 1rem 0;
  background: white;
}
div#left a {
  color: black;
  text-decoration: none;
}

div#left a div {
  align-items: center;
  margin-left: 40px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
}
div#left a div svg {
  margin-right: 10px;
  position: relative;
  top: 5px;
}
div#left a div:hover,
div#left a div:active,
div#left a div:focus {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}
div#left > a:nth-of-type(2) > div:hover {
  width: 120px;
}
div#left > a:nth-of-type(3) > div:hover {
  width: 130px;
}
div#left > a:nth-of-type(4) > div:hover {
  width: 180px;
}
div#left > a:nth-of-type(5) > div:hover {
  width: 160px;
}
div#left > a:nth-of-type(6) > div:hover {
  width: 170px;
}
div#left > a:nth-of-type(7) > div:hover {
  width: 110px;
}
div#left > a:nth-of-type(8) > div:hover {
  width: 110px;
}
div#left > a:nth-of-type(8) > div:hover {
  width: 120px;
}
div#left > a:nth-of-type(9) > div:hover {
  width: 110px;
}

div#left a div span {
  font-size: 19px;
  font-weight: 700;
}
div#left > div#menu,
div#left > button,
div#left > div:last-child {
  margin-left: 50px;
}

div#left > button:hover {
  background-color: rgb(26, 145, 218);
}
div#left > div#menu:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}
div#left a div.bird svg {
  fill: rgba(29, 161, 242, 1) !important;
}

div#left a:first-child div#menu {
  padding-top: 0;
}
div#left a:first-child div#menu:hover {
  background-color: white;
}

div#left a:first-child div#menu svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}
div#left > div:last-child {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
div#left > div:last-child:hover {
  border-radius: 5rem;
  background-color: rgba(29, 161, 242, 0.1);
}

#emptyspace_on_left {
  height: 120px;
}

div#left .active {
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  font-weight: 400;
}

div#left > div:last-child {
  display: grid;
  grid-template-columns: 3fr 10fr 1fr;
  align-items: center;
  grid-gap: 0;
}
#my_tweet_handle {
  color: rgb(101, 119, 134);
}
div#left > div:last-child img {
  border-radius: 50%;
  width: 80%;
  margin-top: 5px;
}
div#left > div:last-child svg {
  width: 100%;
}
div#left > div span,
div#middletop div:first-child {
  font-size: 19px;
  font-weight: 700;
}
div#left > button {
  font-size: 16px;
  font-weight: 700;
  width: 13rem;
  height: 3rem;
}

div#middle {
  border-left: 1px solid rgb(230, 236, 240);
  border-right: 1px solid rgb(230, 236, 240);
}
div#middletop {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 1rem 0;
  background: white;
  border-bottom: 10px solid rgb(230, 236, 240);
}
div#middletop > div:first-child {
  display: grid;
  grid-template-columns: 15fr 1fr;
  border-bottom: 1px solid rgb(230, 236, 240);
  padding-left: 15px;
  padding-right: 15px;
}
div#middletop > div:first-child svg {
  width: 32px;
  padding: 5px;
  fill: rgba(29, 161, 242, 1);
}
div#middletop > div:last-child {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 5fr 1fr;
  padding-left: 85px;
  padding-right: 15px;
}
div#middletop > div:last-child svg {
  width: 32px;
  padding: 5px;
  fill: rgba(29, 161, 242, 1);
}
div#middletop > div:last-child svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}
div#middletop > div:first-child svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}

div#middle > div button {
  text-align: center;
  opacity: 0.5;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
}
div#middle > div svg {
  width: 2em;
  padding: 5px;
}
div#middletop > div img {
  border-radius: 50%;
  width: 50px;
  margin-top: 5px;
  margin-right: 0;
}

div#middletop > div.inputspot {
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

div#tweettop1 {
  display: grid;
  grid-template-columns: 1.4fr 10fr 0.7fr;
  align-items: center;
  padding-left: 15px;
}

div#tweettop1 > div:first-child img {
  border-radius: 50%;
  width: 50px;
  margin-top: 5px;
}

#profile_name {
  font-weight: 700;
  font-size: 15px;
}
div#tweettop1 > svg {
  /*width: 32px;*/
  padding: 5px;
  fill: rgb(101, 119, 134);
  height: 25px;
}

#tweettopsvg {
  fill: rgba(29, 161, 242, 1);
  vertical-align: middle;
  display: inline-block;
  width: 50px;
}
div#tweettop1 > div span {
  color: rgb(101, 119, 134);
}
div#tweetbottom1 {
  display: grid;
  grid-template-columns: 1.4fr 10.7fr;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 0.9rem;
}
div#tweetbottom1 > div:last-child img {
  border-radius: 15px;
  margin-top: 10px;
  width: 100%; /* 507px*/
  max-height: 290px;
  object-fit: cover;
  overflow: hidden;
}
div#tweetbottom1 > div:last-child #eurohoops_link_img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#grey_font {
  color: rgb(101, 119, 134);
  fill: rgb(101, 119, 134);
}
div#tweetbottom1 > div:last-child svg {
  position: relative;
  top: 7px;
}

#link_bottom {
  border-bottom: 1px solid rgb(204, 214, 221);
  border-left: 1px solid rgb(204, 214, 221);
  border-right: 1px solid rgb(204, 214, 221);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  margin-top: -10px;
}

div#tweetbottom2 {
  display: grid;
  grid-template-columns: 1.5fr 10.7fr;
  align-items: center;
  border-bottom: 1px solid rgb(230, 236, 240);
  font-size: 0.8rem;
  padding-bottom: 10px;
}

div#tweetbottom2 > div:last-child svg {
  width: 28px;
  padding: 5px;
  margin-right: 5px;
  align-items: center;
  fill: rgb(101, 119, 134);
  position: relative;

  top: 7px;
  left: 5px;
}
div#tweetbottom2 > div:last-child span {
  margin-right: 5vw;
}

#whole_tweet:hover {
  background-color: rgb(230, 236, 240, 0.5);
}
/*#########################*/
div#right {
  padding-left: 15px;
  padding-top: 5px;
}
#searchbar {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;

  border-radius: 60px;
  padding: 12px;
  margin-bottom: 15px;
  background-color: rgb(230, 236, 240);
}
#searchbar > input {
  background-color: rgb(230, 236, 240);
  font-size: 15px;
}
div#right > div:first-child svg {
  width: 20px;
  fill: rgb(101, 119, 134);
}
#who_to_follow,
#trend_box {
  background-color: rgb(230, 236, 240, 0.5);
  border-radius: 15px;
  margin-bottom: 17px;
}

div#who_to_follow > div,
div#trend_box > div {
  border-bottom: 1px solid rgb(230, 236, 240);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
div#trend_box > div:last-child:hover,
div#who_to_follow > div:last-child:hover {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

div#trend_box > div:hover,
div#who_to_follow > div:hover {
  background-color: rgb(230, 236, 240, 0.8);
}

div#who_to_follow > div:first-child:hover {
  pointer-events: none;
}
div#trend_box > div:first-child > svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}

div#trend_box:hover > div:first-child:hover {
  background-color: rgb(230, 236, 240, 0.2) !important;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

div#who_to_follow > div:last-child {
  border-bottom: none;
  color: rgba(29, 161, 242, 1);
}
div#who_to_follow > div:first-child {
  padding-top: 10px;
  font-size: 19px;
  font-weight: 700;
}
div#trend_box > div p {
  color: rgb(101, 119, 134);
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: 400;
}
#footer {
  color: rgb(101, 119, 134);
  font-size: 13px;
  font-weight: 400;
}
#footer a {
  color: rgb(101, 119, 134);
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer p {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 9px;
}

#footer svg {
  width: 17px;
  fill: rgb(101, 119, 134);
  vertical-align: bottom;
}

div#trend_box > div strong {
  font-size: 15px;
  font-weight: 700;
  color: black;
}
div#trend_box > div:first-child strong {
  font-size: 19px;
}
div#trend_box > div:last-child {
  border-bottom: none;
  color: rgba(29, 161, 242, 1);
}

div#trend_box > div:first-child svg {
  height: 1.5em;
  fill: rgba(29, 161, 242, 1);
}
div#trend_box > div:first-child {
  display: grid;
  grid-template-columns: 5fr 0.5fr;
}
div#trend_box > div > div {
  display: grid;
  grid-template-columns: 5fr 0.5fr;
}
div#trend_box > div > div svg {
  fill: rgb(101, 119, 134);
  height: 17px !important;
}

div#who_to_follow > #follow_grid {
  display: grid;
  grid-template-columns: 3fr 10fr 1fr;

  align-items: center;
  font-size: 0.8rem;
}

div#who_to_follow > div > div img {
  border-radius: 50%;
  width: 80%;
  margin-top: 5px;
}

div#who_to_follow > div button {
  border: 1px solid rgba(29, 161, 242, 1);
  color: rgba(29, 161, 242, 1);
  background-color: transparent;
  font-size: 15px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto; /* Enable scroll if needed */
}

div.modal > div.modal_content {
  /*margin: 5% auto; /* 15% from the top and centered */
  position: absolute;
  left: 50% !important;
  top: 23% !important;
  transform: translate(-50%, -50%) !important;
  width: 600px;
  height: 333px;
  border-radius: 15px !important;
}
div.modal > div.modal_content > div#middletop {
  border-bottom: none;
  padding: 0;
  border-radius: 15px !important;
}
div.modal > div.modal_content > div#middletop button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.5;
}
div.modal > div.modal_content > div#middletop > div:last-child {
  padding-top: 10px;
  border-top: 1px solid rgb(230, 236, 240);

  height: 59px;
  padding-bottom: 10px;

  padding-left: 79px;
}
/* The Close Button */

.close > div.inputspot {
  height: 300px !important;
}

textarea {
  resize: none;
  border: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  color: rgb(101, 119, 134);
}
.modaltop {
  height: 53px;
  padding-top: 10px;
}
.modaltop svg {
  fill: rgba(29, 161, 242, 1);
}
#modalbottom1 {
  display: grid;
  grid-template-columns: 0.7fr 4fr 7fr;
  padding-left: 85px;
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  font-weight: bold;
  font-size: 13px;
  min-width: calc(48.3px);
  padding-top: 45px;
  padding-bottom: 10px;
}
#modalbottom1 svg {
  top: 7px;
  left: 5px;
  width: 20px;
}
/*subpages below..........................*/
.subpage {
  display: none;
}
.subpage:first-child {
  display: grid;
}
.subpage #menu {
  display: inline !important;
  text-decoration: none;
}
/*notifications page*/
#middletop-notifications {
  padding: 1rem 0;
}
#middletop-notifications div:first-child {
  display: grid;
  grid-template-columns: 15fr 1fr;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 19px;
  font-weight: 700;
}
div#middletop-notifications > div:first-child svg {
  width: 32px;
  padding: 5px;
  fill: rgba(29, 161, 242, 1);
  position: relative;
  bottom: 3px;
}

div#middletop-notifications > div:first-child svg:hover {
  background-color: rgba(29, 161, 242, 0.2);
  color: rgba(29, 161, 242, 1);
  fill: rgba(29, 161, 242, 1);
  border-radius: 4rem;
}
#notifications-toggle-container {
  border-bottom: 2px solid rgb(230, 236, 240);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 53px;
}
#notifications-toggle-container div {
  /*text-align: center;
  height: 53px;*/
  position: relative;
}
#notifications-toggle-container div span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#notifications-toggle-container div span {
  color: rgb(101, 119, 134);
  font-weight: 700;
  font-size: 15px;
}

#notifications-toggle-container div:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
#notifications-result1 {
  display: grid;
  grid-template-columns: 3fr 20fr;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(230, 236, 240);
}
div#notifications > div#notifications-result1 svg {
  width: 40px;
  padding: 5px;
  fill: rgba(29, 161, 242, 1);
}

#notifications-toggle-container .active-toggle {
  border-bottom: 2px solid rgba(29, 161, 242, 1);
}
#notifications-toggle-container .active-toggle span {
  color: rgba(29, 161, 242, 1);
}

/*bookmarks page.........*/

div#bookmarks > div:first-child span {
  font-size: 19px;
  font-weight: 700;
}
div#bookmarks > div:first-child {
  padding: 1rem 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgb(230, 236, 240);
}
div#bookmarks > div:first-child p {
  color: rgb(101, 119, 134);
  font-size: 13px;
}
div#bookmarks > div:last-child {
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}
div#bookmarks > div:last-child span {
  font-size: 19px;
  font-weight: bold;
}
div#bookmarks > div:last-child p {
  color: rgb(101, 119, 134);
  margin-top: 10px;
}
